Para generar api key de consulta:

* https://firms.modaps.eosdis.nasa.gov/api/map_key

In [1]:
# Let's set your map key that was emailed to you. It should look something like 'abcdef1234567890abcdef1234567890'
MAP_KEY = '6b5da64adc73e157f74cc93724bda15b'
#MAP_KEY = 'abcdef1234567890abcdef1234567890'

# now let's check how many transactions we have
import pandas as pd
url = 'https://firms.modaps.eosdis.nasa.gov/mapserver/mapkey_status/?MAP_KEY=' + MAP_KEY
try:
  df = pd.read_json(url,  typ='series')
  display(df)
except:
  # possible error, wrong MAP_KEY value, check for extra quotes, missing letters
  print ("There is an issue with the query. \nTry in your browser: %s" % url)

transaction_limit             1000
current_transactions             0
transaction_interval    10 minutes
dtype: object

In [2]:
# let's create a simple function that tells us how many transactions we have used.
# We will use this in later examples

def get_transaction_count() :
  count = 0
  try:
    df = pd.read_json(url,  typ='series')
    count = df['current_transactions']
  except:
    print ("Error in our call.")
  return count

tcount = get_transaction_count()
print ('Our current transaction count is %i' % tcount)

Our current transaction count is 0

In [3]:
# in this example let's look at VIIRS NOAA-20, entire world and the most recent day
area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/' + '440ffadc4c4a4e625b4db949ea24118a' + '/VIIRS_NOAA20_NRT/world/2'
start_count = get_transaction_count()
df_area = pd.read_csv(area_url)

df_area.to_csv("datos.csv")
df_area.head()

# end_count = get_transaction_count()
# print ('We used %i transactions.' % (end_count-start_count))df_area.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,66.19928,70.98785,339.36,0.51,0.66,2023-10-06,20,1,VIIRS,n,2.0NRT,275.20,3.96,N
1,61.73565,66.44294,306.66,0.75,0.77,2023-10-06,22,1,VIIRS,n,2.0NRT,274.70,1.59,N
2,61.74938,66.95711,312.79,0.77,0.77,2023-10-06,22,1,VIIRS,n,2.0NRT,274.68,2.70,N
3,61.75479,66.94773,304.34,0.77,0.77,2023-10-06,22,1,VIIRS,n,2.0NRT,275.40,2.70,N
4,67.83894,58.93101,324.31,0.51,0.49,2023-10-06,22,1,VIIRS,n,2.0NRT,272.22,2.96,N

In [ ]:
area_url = 'https://firms.modaps.eosdis.nasa.gov/api/area/csv/440ffadc4c4a4e625b4db949ea24118a/VIIRS_NOAA20_NRT/world/1'